@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

a {
  color: currentColor;
}

body {
  margin: 0 auto;
  max-width: 760px;
  padding: 3rem 1rem;
}

html {
  background-color: #fdfdfd;
  color: #1a202c;
  font-family: "Inter", sans-serif;
}
