# Global
*
!.gitignore

# Folders
!/.vscode
!/app
!/posts
!/public

# Files
!/.eslintrc.js
!/.yarnrc.yml
!/package.json
!/remix.config.js
!/remix.env.d.ts
!/tsconfig.json
!/yarn.lock

# Generated
!/.yarn
!/.yarn/plugins
!/.yarn/plugins/**/*
!/.yarn/releases
!/.yarn/releases/**/*
!/.yarn/sdks
!/.yarn/sdks/**/*
